// Colors
$primary: #ffb96a;
$secondary: #534c4c;
$error: rgb(233, 22, 22);

// Font Sizes
$title-sm: 28px;
$subtitle-sm: 22px;
$big-sm: 18px;
$text-sm: 14px;
$hint-sm: 11px;

$title-md: 32px;
$subtitle-md: 24px;
$big-md: 20px;
$text-md: 16px;
$hint-md: 12px;

$title-lg: 36px;
$subtitle-lg: 28px;
$big-lg: 24px;
$text-lg: 18px;
$hint-lg: 14px;