@import "../node_modules/bootstrap/scss/bootstrap-grid";

@import "vars";

html,
body {
  padding: 0;
  margin: 0;
  font-size: $text-sm;
  color: $secondary;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  &:has(#modal[display="flex"]) #content {
    filter: blur(3px);
  }
}

header {
  width: 100%;
}

a {
  color: $primary;
  font-style: italic;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}

.box {
  box-shadow: rgba($secondary, 0.3) 0px 6px 12px 0px;
}

h1,
h2,
h3 {
  color: $primary;
}

h1 {
  font-size: $title-sm;
}

h2 {
  font-size: $subtitle-sm;
}

h3 {
  font-size: $big-sm;
}

button {
  background: $secondary;
  color: $primary;
  padding: 8px 16px;
  border: none;
  font-size: $text-sm;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.weight {
  &--normal {
    font-weight: 500;
  }
  &--bold {
    font-weight: bold;
  }
}

.hint {
  font-style: italic;
  font-size: $hint-sm;
}

.logo {
  width: 64px;
  height: 64px;
}

.loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  &--small {
    transform: scale(0.8);
  }
  &--big {
    transform: scale(1.2);
  }
  & div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    margin: 6px;
    border: 6px solid $primary;
    border-radius: 50%;
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary transparent transparent transparent;
  }
  & div:nth-child(1) {
    animation-delay: -0.45s;
  }
  & div:nth-child(2) {
    animation-delay: -0.3s;
  }
  & div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html,
  body {
    font-size: $text-md;
  }
  h1 {
    font-size: $title-md;
  }

  h2 {
    font-size: $subtitle-md;
  }

  h3 {
    font-size: $big-md;
  }
  button {
    font-size: $text-md;
  }
  .hint {
    font-size: $hint-md;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html,
  body {
    font-size: $text-lg;
  }
  h1 {
    font-size: $title-lg;
  }

  h2 {
    font-size: $subtitle-lg;
  }

  h3 {
    font-size: $big-lg;
  }
  button {
    font-size: $text-lg;
  }
  .hint {
    font-size: $hint-lg;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
}
