@import "../app/vars";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary;
    border-radius: 8px;
    background: white;
    color: $primary;
    font-weight: bold;
    &:hover {
        background: $primary;
        color: white;
        cursor: pointer;
        & img {
            filter: grayscale(1) brightness(100);
        }
    }
    &--secondary {
        color: $secondary;
        border: 2px solid $secondary;
        &:hover {
            color: $primary;
            background: white;
            border: 2px solid $primary;
            & img {
                filter: none;
            }
        }
    }
}