.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 420px;
  &__bubble {
    position: absolute;
    top: -24px;
    left: -24px;
    width: calc(100% + 48px);
    height: calc(120% + 64px);
    pointer-events: none;
  }
  &__fetcher {
    transform: translate(-50%, 50%) scaleX(-1);
  }
}

@media (min-width: 768px) {
  .dialog {
    width: 70%;
    &__fetcher {
      transform: translate(120%, 0);
    }
  }
}

@media (min-width: 992px) {
  .dialog {
    width: 50%;
  }
}
