@import "../app/vars";

.input {
    height: 32px;
    border-radius: 8px;
    border: 2px solid $primary;
    outline: none;
    &__errors{
        white-space: nowrap;
        position: absolute;
        transform: translateY(100%);
        left: 0;
        bottom: 0;
        color: $error
    }
}